### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
thumbs/
uploads/

.env
db.sqlite3
info.txt

## Sublime Text ##
*.sublime-workspace
*.sublime-project

## Local files ##
Pipfile
Pipfile.lock