.centre {
	padding: 10px;
	margin: 20px auto auto auto;
	float: none;
	background-color: 	#fffff2;
}

.box {
	width: unset;
	max-width: 610px;
}

.card a {
    text-decoration: none;
}

.centre .form {
	margin: 10px;
}

img {
	display: block;
	margin: auto;
	width: 200px; 
	height: 200px
}

.card {
	padding: 10px; 
	margin: 10px;
}

.col-xs-2 {
    margin: 5px;
}

.detail {
	margin-top: 20px;
}

.button {
	display: inline-block;
}

.container-fluid {
	min-height: 850px;
}

footer {
	padding-left: 15px;
}

.col-md-9 {
	flex: 0.10;
}

.table {
	width: unset;
	min-width: 80%;
}

canvas {
	height: 500px; 
	width: 500px;
	margin: 10px;
}

input {
	display: block;
}

.erase {
	padding-left: 5px;
}