@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

body {
  font-family: 'Poppins', sans-serif;
  color: #192a3e;
  padding: 1rem;
  background-color: white !important;
}

#mad-0 {
  background-color: white !important;
  border: 1px solid #f4f4f4;
  width: 640px;
}

a {
  color: #006fa6;
  text-decoration: none !important;
}

span a {
  color: white !important;
  text-decoration: none;
}

/* HEADER STYLES */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header .logo span a{
  color: #006fa6 !important;
  font-weight: 0.5rem !important;
}

section {
  min-height: 800px;
}

.entry-item p {
  margin-top: 15px;
}

.entry-container {
  display: flex;
  flex-wrap: wrap;
}

.entry-container .entry-item {
  border: 1px solid #f4f4f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.096), 0 1px 2px rgba(0, 0, 0, 0.096);
  font-size: 0.7rem;
  border-radius: 3px;
  padding: 0 15px;
  width: 18.8%;
  height: 22%;
  margin: 5px;
}

@media (max-width: 1336px) {
  .entry-container .entry-item {
    font-size: 0.5rem !important;
  }
}

.entry-container .entry-item img {
  display: block;
  margin: auto;
  width: 80px;
}

.entry-container .entry-item .footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}