{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ModelSpace</title>
    <script src="https://kit.fontawesome.com/8d922ff923.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <i class="fas fa-cloud-upload-alt"></i>
        <span><a href="{% url 'index' %}">ModelSpace</a></span>
      </div>
      <div class="search">
        <form class="form form-inline" action="{% url 'index' %}">
          <input class="form-control mb-2 mr-sm-2" type="text" name="q" placeholder="Search for 3D models">
          <button class="btn btn-secondary mb-2">Search</button>
        </form>
      </div>
      <div class="btn-actions">
        <!-- <button class="button icon"> -->
        <span><a class="button icon" href="{% url 'upload' %}"><i class="fas fa-cloud-upload-alt"></i>Upload</a></span>
        <!-- </button> -->
        <button class="button transparent"><i class="far fa-user"></i></button>
      </div>
    </header>
    <main class="main">

      <!-- The Side Bar Menu -->
<!--       <aside class="sidebar">
        <div class="top">
          <div class="sidebar-link">
            <i class="far fa-user"></i>
            <a href="#" class="active">My files</a>
          </div>
          <div class="sidebar-link">
            <i class="fas fa-vial"></i>
            <a href="#">Samples</a>
          </div>
        </div>
      </aside> -->
      <!-- End of Side bar menu -->

      {% block content %}

      {% endblock %}

    </main>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
