{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ModelSpace</title>
    <script src="https://kit.fontawesome.com/8d922ff923.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <i class="fas fa-cloud-upload-alt"></i>
        <span>ModelSpace</span>
      </div>
      <div class="btn-actions">
        <button class="button icon">
          <i class="fas fa-cloud-upload-alt"></i>
          <span><a href="{% url 'upload' %}">Upload</a></span>
        </button>
        <button class="button transparent"><i class="far fa-bell"></i></button>
        <button class="button transparent"><i class="far fa-user"></i></button>
      </div>
    </header>
    <main class="main">

      <!-- The Side Bar Menu -->
      <aside class="sidebar">
        <div class="top">
          <div class="sidebar-link">
            <i class="far fa-user"></i>
            <a href="#" class="active">My files</a>
          </div>
          <div class="sidebar-link">
            <i class="fas fa-vial"></i>
            <a href="#">Samples</a>
          </div>
        </div>
      </aside>
      <!-- End of Side bar menu -->

      {% block content %}

      {% endblock %}

    </main>
  </body>
</html>
