{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

  <section class="content">
    <p class="text--small">Home | <span class="text--primary">Create folder</span></p>
    <div class="product-container">
    	{% for upload in uploads %}
	      <div class="product-item">
	        <p class="title">{{ upload.name }}</p>
	        <img src="{% static 'img/item.jpg' %}" alt="" />
	        <div class="footer">
	          <div>
	            <i class="fas fa-lock"></i>
	            <span>me</span>
	          </div>
	          <p>{{ upload.document.size|filesizeformat }}</p>
	          <p>{{ upload.created_at }}</p>
	        </div>
	      </div>
    	{% endfor %}
    </div>
  </section>
{% endblock %}