{% load static %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>ModelSpace</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/font-awesome.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">ModelSpace</a>
            {% if request.user.is_authenticated %}
              <form autocomplete="off" class="form-inline" action="/" method="get">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search for models..." required /> 
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                   <a class="btn btn-success" href="{% url 'upload' %}">Upload</a>
                </li>
                <li class="nav-item active">
                   <a class="btn btn-success" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            {% endif %}
            {% if not request.user.is_authenticated %}
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                   <a class="btn btn-success" href="{% url 'register' %}">Register</a>
                </li>
              </ul>
            {% endif %}
          </nav>
        </div>
      </div>
      <div class="row">
          {% block content %}

          {% endblock %}

      </div>
    </div>
    {% include 'cms/footer.html' %}

    {% block extra_js %}
    {% endblock %}
  </body>
</html>