{% extends 'cms/base.html' %}
{% load static %}
{% load tags %}

{% block extra_js %}

  <script src="{% static 'js/babylon.js' %}"></script>
  <script src="{% static 'js/babylonjs.loaders.min.js' %}"></script>

  <script type="text/javascript">
      var canvas = document.getElementById('renderCanvas');
      var link = "{% fetch_url upload.get_name_without_extension %}";
        
      var engine = new BABYLON.Engine(canvas, true);
      BABYLON.SceneLoader.Load("", link, engine, function (newScene) {
       newScene.activeCamera.attachControl(canvas, false);
       engine.runRenderLoop(function () {
           newScene.render();
       });
      });
  </script>
{% endblock %}

{% block content %}

  <div class="col-md-9">
        <canvas id="renderCanvas"></canvas>
  </div>

  <div class="col-md-3 detail">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ upload.name }}</td>
        </tr>
        {% if upload.tags.all %}
        <tr>
          <td>Tags</td>
          <td>
            <ul>
              {% for tag in upload.tags.all %}
                <li><a href="{% url 'index' %}?q={{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>Size</td>
          <td>{{ upload.main_file.size|filesizeformat }}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{ upload.date_created|date:"d M Y" }} {{ upload.date_created|time:"H:i" }}</td>
        </tr>
        {% if extra_files %}
        <tr>
          <td>Extra Files</td>
          <td>
            <ul>
              {% for extra in extra_files %}
                <li><a href="{% fetch_url extra.get_name_without_extension file_type='extra' %}">{{ extra.get_name_with_extension }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% include 'cms/options.html' %}
  </div>

{% endblock %}