{% extends 'cms/base.html' %}
{% load static %}
{% load tags %}

{% block extra_js %}

  <script src="{% static 'js/babylon.js' %}"></script>
  <script src="{% static 'js/babylonjs.loaders.min.js' %}"></script>

  <script>
    BABYLON.OBJFileLoader.MATERIAL_LOADING_FAILS_SILENTLY = false;

    var canvas = document.getElementById("renderCanvas");

    var createScene = function () {
        var scene = new BABYLON.Scene(engine);
    
        //Adding a light
        var light = new BABYLON.PointLight("Omni", new BABYLON.Vector3(20, 20, 100), scene);
    
        //Adding an Arc Rotate Camera
        var camera = new BABYLON.ArcRotateCamera("Camera", 0, 0.8, 100, BABYLON.Vector3.Zero(), scene);
        camera.attachControl(canvas, false);
        var link = "{% fetch_url main_file.file_name %}";
        // The first parameter can be used to specify which mesh to import. Here we import all meshes
        BABYLON.SceneLoader.ImportMesh("", "", link, scene, function (newMeshes) {
            // Set the target of the camera to the first imported mesh
            camera.target = newMeshes[0];
        });
    
        // Move the light with the camera
        scene.registerBeforeRender(function () {
            light.position = camera.position;
        });
    
        return scene;
    }
    
    var engine = new BABYLON.Engine(canvas, true, { preserveDrawingBuffer: true, stencil: true });
    var scene = createScene();

    engine.runRenderLoop(function () {
        if (scene) {
            scene.render();
        }
    });

    // Resize
    window.addEventListener("resize", function () {
        engine.resize();
    });
  </script>
  
{% endblock %}

{% block content %}

  <div class="col-md-9">
    <canvas id="renderCanvas"></canvas>
  </div>

  <div class="col-md-3 detail">
    {% include 'cms/options.html' %}
    <br>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ entry.name }}</td>
        </tr>
        {% if entry.tags.all %}
        <tr>
          <td>Tags</td>
          <td>
              {{ entry.tags.all|join:", " }}
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>Size</td>
          <td>{{ main_file.document.size|filesizeformat }}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{ entry.date_created|date:"d M Y" }} {{ entry.date_created|time:"H:i" }}</td>
        </tr>
        {% if extra_files %}
        <tr>
          <td>Extra Files</td>
          <td>
            <ul>
              {% for extra in extra_files %}
                <li><a href="{% fetch_url extra.get_name_with_extension file_type='extra' %}">{{ extra.get_name_with_extension }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}