{% extends 'cms/base.html' %}
{% load static %}

{% block extra_js %}

  <!-- Madeleine -->
  <script src="{% static 'js/stats.js' %}"></script>
  <script src="{% static 'js/detector.js' %}"></script>
  <script src="{% static 'js/three.min.js' %}"></script>
  <script src="{% static 'js/Madeleine.js' %}"></script>

  <script>
    window.onload = function(){
        var madeleine = new Madeleine({
          target: 'stl_cont', // target div id
          data: "{% url 'save' upload.id %}", // data path
          path: "{% static 'js/' %}"  // path to source directory from current html file
        });
    };
  </script>
{% endblock %}

{% block content %}
  <table></table>
  <div id="stl_cont"></div>

{% endblock %}