{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

  <section class="content">
    {% if count %}<p>{{ count }} items found</p>{% endif %}
    <div class="entry-container">
        {% if uploads %}
          {% for upload in uploads %}
            <div class="entry-item">
              <p class="title">{{ upload.name }}</p>
              <img src="{% static 'img/item.jpg' %}" alt="" />
              <div class="footer">
                <div>
                  <span>{{ upload.document.size|filesizeformat }}</span>
                </div>
                <p>{{ upload.date_created|date:"d M Y" }} {{ upload.date_created|time:"H:i" }}</p>
                <p><a href="{% url 'download' upload.id %}">Download</a></p>
                <p><a href="{% url 'delete' upload.id %}?p={{ uploads.number }}">Delete</a></p>
              </div>
            </div>
          {% endfor %}
      </div>

    {% else %}
      <p>No models found</p>
    {% endif %}


  </section>
  {% include 'cms/footer.html' %}

{% endblock %}