{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

  <section class="row">
    {% if count %}<p>{{ count }} items found</p>{% endif %}
    {% if status %}
      <div class="alert alert-info">
        <p>{{ status }}</p>
      </div>
    {% endif %}
    <div class="row">
        {% if uploads %}
          {% for upload in uploads %}
            <div class="col-md-4">
              <a href="{% url 'detail' upload.id %}"><p class="title">{{ upload.name }}</p></a>
              <a href="{% url 'detail' upload.id %}"><img src="{% static 'img/thumbs/' %}{{ upload.file_name }}.png" alt="" /></a>
              <div class="footer">
                <div>
                  <span>{{ upload.document.size|filesizeformat }}</span>
                </div>
                <p>{{ upload.date_created|date:"d M Y" }} {{ upload.date_created|time:"H:i" }}</p>
                <p><a href="{% url 'save' upload.id %}">Save</a></p>
                <p><a href="{% url 'remove' upload.id %}">Remove</a></p>
              </div>
            </div>
          {% endfor %}
      </div>

    {% else %}
      <p>No models found</p>
    {% endif %}


  </section>
  {% include 'cms/footer.html' %}

{% endblock %}