{% extends 'cms/base.html' %}
{% load static %}

{% block content %}
  {% for upload in uploads %}
    <div class="col-md-3">
      <div class="card">
        <a href="{% url 'detail' upload.id %}"><img class="img" alt="{{ upload.name }}" src="{% get_media_prefix %}thumbs/{{ upload.get_name_without_extension }}.png" /></a>
        <div class="card-block">
          <a href="{% url 'detail' upload.id %}"><h5 class="card-title">{{ upload.name }}</h5></a>
          <p>{{ upload.date_created|date:"d M Y" }} {{ upload.date_created|time:"H:i" }}</p>
          {% include 'cms/options.html' %}
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}