{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>xeogl Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="{% static 'js/xeogl.js' %}"></script>

    <script src="{% static 'js/STLModel.js' %}"></script>

    <style>

    </style>

<body>

<div id="info">
    <h1><a href="../docs/classes/STLModel.html" target="_parent">STLModel</a> - importing STL
    </h1>
</div>

<script>
    // Load ASCII STL model
    var f1Concept = new xeogl.STLModel({
        src: "{% url 'save' upload.id %}",
        smoothNormals: true
    });
    // Ground plane
    new xeogl.Mesh({
        geometry: new xeogl.PlaneGeometry({
            xSize: 30,
            zSize: 30
        }),
        material: new xeogl.PhongMaterial({
            shininess: 170,
            specular: [0.1, 0.1, 0.3],
            diffuseMap: new xeogl.Texture({
                src: "{% static 'textures/diffuse/UVCheckerMap11-1024.png' %}",
                scale: [-5.0, 5.0]
            }),
            xalpha: 0.99,
            backfaces: false
        }),
        position: [0, -1.35, 0],
        collidable: false,
        pickable: false
    });
    // User camera control
    new xeogl.CameraControl();
    // Initial camera position
    var scene = xeogl.getDefaultScene();
    var camera = scene.camera;
    camera.eye = [19.92, 19.53, 56.28];
    camera.look = [24.91, 3.72, 0.49];
    camera.up = [0.02, 0.95, -0.29];
    // Orbit camera
    scene.on("tick", function () {
        camera.orbitYaw(-0.2);
    });
    //-----------------------------------------------------------------------------------------------------
    // Environment
    //-----------------------------------------------------------------------------------------------------
//scene.clearLights();
//
//    new xeogl.DirLight({
//        dir: [0.8, 1.0, 1.0],
//        color: [1.0, 1.0, 1.0],
//        intensity: 1.0,
//        space: "view"
//    });
//    new xeogl.DirLight({
//        dir: [-0.8, -0.4, -0.4],
//        color: [1.0, 1.0, 1.0],
//        intensity: 1.0,
//        space: "view"
//    });
//    new xeogl.DirLight({
//        dir: [0.2, -0.8, 0.8],
//        color: [0.6, 0.6, 0.6],
//        intensity: 1.0,
//        space: "view"
//    });
    // new xeogl.ReflectionMap({
    //     src: [
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_PX.png",
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_NX.png",
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_PY.png",
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_NY.png",
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_PZ.png",
    //         "textures/reflect/Uffizi_Gallery/Uffizi_Gallery_Radiance_NZ.png"
    //     ],
    //     encoding: "sRGB"
    // });
</script>
</body>
</html>