{% load tags %}

{% if detail %}
	<div class="buttons">
		<div class="button"><a class="btn btn-danger" href="{% url 'erase' entry.id %}">Erase</a> </div>
		<div class="button"><a class="btn btn-primary" href="{% url 'edit' entry.id %}">Edit</a></div>
		<div class="button"><a class="btn btn-success" href="{% url 'save' entry.id %}">Save</a></div>
	</div>
{% else %}
	<div class="buttons">
		<div class="button"><a class="btn btn-danger" href="{% url 'erase' main_file.entry.id %}">Erase</a> </div>
		<div class="button"><a class="btn btn-primary" href="{% url 'edit' main_file.entry.id %}">Edit</a></div>
		<div class="button"><a class="btn btn-success" href="{% url 'save' main_file.entry.id %}">Save</a></div>
	</div>
{% endif %}