{% extends 'cms/base.html' %}
{% load static %}

{% block content %}

  <div class="centre">

    <form autocomplete="off" class="form form-vertical" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}

      <p>
          <label for="username">Username:</label>
          {{ form.username }}
          {{ form.username.errors }}
      </p>
      <p>
          <label for="password">Password:</label>
          {{ form.password1 }}
          {{ form.password1.errors }}
      </p>
      <p>
          <label for="password">Confirm Password:</label>
          {{ form.password2 }}
          {{ form.password2.errors }}
      </p>
      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </div>

{% endblock %}