{% extends 'cms/base.html' %}
{% load static %}
{% load tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <style type="text/css">
    .red {
      color:  #8B0000;
    }
  </style>
{% endblock %}

{% block content %}

  {% if extra_files %}
  <div class="centre col-md-4">
    <div class="row">
      <div class="col-md-8">
  {% else %}
  <div class="centre col-md-3">
  {% endif %}
        <form autocomplete="off" class="form form-vertical" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p>
            <label for="name">Name:</label>
            {{ form.name }}
          </p>
          <p>
            <label for="tags">Tags:</label>
            {{ form.tags }}
          </p>
          <p>
            {{ form.main_file }}
          </p>
          <p>
            <label for="id_extra_files">Extra files:</label>
            {{ form.extra_files }}
          </p>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    {% if extra_files %}
    <div class="col-md-4">
        <div class="alert alert-info">Extra Files Present</div>
        <ol>
            {% for extra in extra_files %}
                <li><a href="{% fetch_url extra.get_name_with_extension file_type='extra' %}">{{ extra.get_name_with_extension }}</a><a href="{% url 'remove_extra' entry.id extra.id %}"><i class="fas fa-trash red erase"></i></a></li>       
            {% endfor %}
            
        </ol>
    </div>
    </div>
  </div>
  {% endif %}

{% endblock %}