{% extends 'cms/base.html' %}
{% load static %}
{% load tags %}

{% block content %}

  {% if extra_files %}
  <div class="centre col-md-4">
    <div class="row">
      <div class="col-md-8">
  {% else %}
  <div class="centre col-md-3">
  {% endif %}
      {% include 'cms/form.html' %}
    </div>

    {% if extra_files %}
    <div class="col-md-4">
        <div class="alert alert-info">Extra Files Present</div>
        <ol>
            {% for extra in extra_files %}
                <li><a href="{% fetch_url extra.get_name_with_extension file_type='extra' %}">{{ extra.get_name_with_extension }}</a><a href="{% url 'remove_extra' entry.id extra.id %}"><i class="fas fa-trash red erase"></i></a></li>       
            {% endfor %}
            
        </ol>
    </div>
    </div>
  </div>
  {% endif %}

{% endblock %}